
/*! accordion theme */
.e-accordion {
  -webkit-tap-highlight-color: transparent;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.12); }
  .e-accordion .e-active {
    background: #fff; }
  .e-accordion .e-acrdn-item.e-item-focus.e-select.e-selected.e-expand-state {
    border-top: 1px solid #fff; }
  .e-accordion .e-acrdn-item.e-item-focus.e-expand-state.e-select, .e-accordion .e-acrdn-item.e-item-focus.e-select.e-selected.e-expand-state {
    border-color: #eee; }
  .e-accordion .e-acrdn-item.e-expand-state.e-select {
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff; }
  .e-accordion .e-acrdn-item.e-overlay {
    background: #fff; }
  .e-accordion .e-acrdn-item.e-selected.e-select.e-expand-state > .e-acrdn-header:focus {
    background: #eee; }
  .e-accordion .e-acrdn-item .e-acrdn-panel.e-nested .e-acrdn-header .e-acrdn-header-content {
    color: rgba(0, 0, 0, 0.87); }
  .e-accordion .e-acrdn-item.e-select .e-acrdn-panel .e-acrdn-content {
    color: rgba(0, 0, 0, 0.87); }
  .e-accordion .e-acrdn-item.e-select .e-acrdn-panel .e-acrdn-content .e-content-icon {
    color: rgba(0, 0, 0, 0.54); }
  .e-accordion .e-acrdn-item .e-acrdn-header .e-acrdn-header-content {
    color: rgba(0, 0, 0, 0.87); }
  .e-accordion .e-acrdn-item .e-acrdn-header .e-acrdn-header-icon {
    color: rgba(0, 0, 0, 0.54); }
  .e-accordion .e-acrdn-item.e-expand-state.e-select:not(.e-selected) > .e-acrdn-header:focus {
    background: #eee; }
  .e-accordion .e-acrdn-item .e-acrdn-header:hover {
    background: ""; }
  .e-accordion .e-acrdn-item .e-acrdn-header:active {
    background: ""; }
  .e-accordion .e-acrdn-item .e-acrdn-header:focus {
    background: #eee; }
  .e-accordion .e-acrdn-item.e-select.e-selected.e-expand-state > .e-acrdn-header,
  .e-accordion .e-acrdn-item.e-select.e-expand-state > .e-acrdn-header {
    background: #fff; }
    .e-accordion .e-acrdn-item.e-select.e-selected.e-expand-state > .e-acrdn-header > .e-toggle-icon,
    .e-accordion .e-acrdn-item.e-select.e-expand-state > .e-acrdn-header > .e-toggle-icon {
      color: rgba(0, 0, 0, 0.54); }
    .e-accordion .e-acrdn-item.e-select.e-selected.e-expand-state > .e-acrdn-header .e-acrdn-header-icon,
    .e-accordion .e-acrdn-item.e-select.e-selected.e-expand-state > .e-acrdn-header .e-acrdn-header-content,
    .e-accordion .e-acrdn-item.e-select.e-expand-state > .e-acrdn-header .e-acrdn-header-icon,
    .e-accordion .e-acrdn-item.e-select.e-expand-state > .e-acrdn-header .e-acrdn-header-content {
      color: #3f51b5; }
  .e-accordion .e-acrdn-item.e-select {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent; }
    .e-accordion .e-acrdn-item.e-select.e-item-focus {
      border-color: #eee; }
  .e-accordion .e-acrdn-item.e-selected.e-select {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    border-top: 1px solid rgba(0, 0, 0, 0.12); }
  .e-accordion .e-acrdn-item.e-selected + .e-selected {
    border-top: 1px solid transparent; }
  .e-accordion .e-acrdn-item.e-selected .e-selected:last-child {
    border-bottom: 1px none rgba(0, 0, 0, 0.12); }
  .e-accordion .e-acrdn-item.e-selected > .e-acrdn-panel .e-acrdn-content {
    color: rgba(0, 0, 0, 0.87); }
  .e-accordion .e-acrdn-item.e-selected > .e-acrdn-panel .e-acrdn-header-content {
    color: rgba(0, 0, 0, 0.54); }
  .e-accordion .e-acrdn-item .e-toggle-icon {
    color: rgba(0, 0, 0, 0.54); }
  .e-accordion .e-acrdn-item .e-acrdn-panel {
    font-size: 13px; }
